<div id="footer">
	<div class="menu"> 
		<ul>
			<li><a>FAQ</a></li>
			<li><a>Getting Started</a></li>
			<li><a>Career</a></li>
			<li><a>Review</a></li>
		</ul>
	</div> 
	<br>
	<br>
	<div id="social">Follow us on </div>
</div>