<script type="text/javascript" src="http://code.angularjs.org/1.2.6/angular-animate.min.js"></script> 
<div id="header" style="height: 50px;" ng-controller="animateCtrl">
	<font type="helvetica" color="blue">Turf </font>
	<div style="display:none;" class="searchBox"><span color="red" ng-click="hideSearchBox()">X</span>
		<input type="text" name="search" value="Search">
	</div>
	<div class="menu"> 
		<ul>
			<li><a href="">Features</a></li> 
			<li>Support - (718)-496-8173 </li> 
			<li><a href="">About Us</a></li>
			<li><img src="images/search1.jpg" alt="search icon" ng-click="showSearchBox()"></li>
		</ul>
 	</div>
</div>
