<div id="enter">
<img src="images/lock.png" alt="logo">
	<div id="left-enter" align="center">
		<a href="" target="_blank"><img src="images/app-store.svg" class="appButton" alt="download from the app store"></a>
		<a href="" target="_blank"><img src="images/play-badge.png" class="appButton" alt="download from the google play store"></a>
	</div>	
	<div id="right-enter" align="center">
		<a href=""><div class="button" align="center">Login </div></a>
		<a href=""><div class="button" align="center" style="margin-top: 5px;">Sign up</div></a>
	</div>
</div>
