html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a, a:hover {
  text-decoration: none;
  color: inherit; }

body, html {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif; }

body {
  background-image: url("../images/bookeeping.jpg");
  color: white; }

#header, #footer {
  background-color: transparent;
  width: 100%;
  padding-top: 1%;
  display: inline-flex; }
  #header font, #footer font {
    padding-left: 5%;
    font-size: 200%; }
  #header .menu, #footer .menu {
    font-size: 150%;
    width: 100%; }
  #header li, #footer li {
    display: inline;
    margin-left: 7%; }
    #header li img, #footer li img {
      width: 5%;
      height: 2%;
      -webkit-transform: rotate(180deg);
      /* Chrome and other webkit browsers */
      -moz-transform: rotate(180deg);
      /* FF */
      -o-transform: rotate(180deg);
      /* Opera */
      -ms-transform: rotate(180deg);
      /* IE9 */
      transform: rotate(180deg);
      /* W3C compliant browsers */ }

#search {
  display: none !important; }

#footer {
  position: absolute;
  bottom: 0; }

#enter {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 480px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  padding: 10px; }
  #enter #left-enter, #enter #right-enter {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    margin-top: 34%; }
  #enter #right-enter {
    border-left: solid; }

.button {
  height: 63.7px;
  border-radius: 10px;
  width: 215px;
  text-align: center;
  font-size: 35px;
  background-color: #32BA93;
  color: white;
  line-height: 63.7px; }

.appButton {
  width: 215px; }

/*# sourceMappingURL=master.css.map */
