//master.scss

$font-stack: Arial, Helvetica, sans-serif;
$primary-color: red;
$button-height: 63.7px;
$button-width: 215px;
$button-text-size:35px;
$button-border-radius: 10px;
$button-bg-color: #32BA93;
$button-font-color:white;

@import 'reset';

body{
	background-image: url('../images/bookeeping.jpg');
	color:white;
}


#header{
	background-color : transparent;
	width:100%;
  	padding-top:1%;
  	display: inline-flex;
  	font{
  		padding-left:5%;
  		font-size:200%;
  	}
	.menu{
		font-size:150%;
		width:100%;
		}
	li{
    	display: inline;
    	margin-left:7%;
    	
    	img{
    		width:5%;
    		height:2%;
    		-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
 			 -moz-transform: rotate(180deg);        /* FF */
			  -o-transform: rotate(180deg);          /* Opera */
 			 -ms-transform: rotate(180deg);         /* IE9 */
 			 transform: rotate(180deg);             /* W3C compliant browsers */
    		
    		}
	 }
}

#search{
	display:none !important;
}

#footer{
   @extend #header;
   position:absolute;
   bottom:0;
   }
#enter{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	width:480px;
	height:480px;
	margin-left: auto ;
  	margin-right: auto ;
  	border-radius: 8px;
  	padding: 10px;
  	
  	#left-enter{
  		width:49%;
  		display: inline-block;
  		vertical-align: top;
  		margin-top: 34%;
  	}
  	#right-enter{
  		@extend #left-enter;
  		border-left:solid;
  	}
  	
}

.button{
	height: $button-height;
	border-radius: $button-border-radius;
	width: $button-width;
	text-align: center;
	font-size: $button-text-size;
	background-color: $button-bg-color;
	color: $button-font-color;
	line-height:$button-height;
}

.appButton{
	width:$button-width;
	
}

input[name='search']{
	border-style: solid;
    border-width: 1px;
	background: transparent;
	height:30px;
	width:480px;
}

.searchBox{
	margin-left: 23% !important; 
	margin: auto;
}

